.chatbot {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    min-height: 500px;
}

.messages {
    height: 450px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    border-radius: 20px;
    color: white;
    max-width: 70%;
    display: inline-block;
    margin-top: 10px;
}

.message.user {
    background-color: #000000;
    margin-left: auto; /* Aligns the message to the right */
    align-self: flex-end; /* Ensures the alignment is to the end of the flex container */
}


.message.combot {
    background-color: #e8e8e8;
    color: black;
    margin-right: auto;
}

.message-form {
    display: flex;
}

.message-form input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
}

.message-form button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.logo {
    max-height: 75px;
    margin-bottom: 10px;
}